<td>
    <input [(ngModel)]="searchText" placeholder="Busqueda por empresa">
    <a *ngFor="let p of datos| candidatosFilter: id" class="list-group-item list-group-item-action flex-column align-items-start">
        <div>
            <h5>{{ p.nombreCandidato }}</h5>
            <li>Puesto: {{ p.puesto }}</li>
            <li>Salario: {{ p.salario }}</li>
            <li>Fecha final: {{ p.fechaFin }}</li>
            <li>Estado: {{ p.estado }}</li>
            <button (click)="aceptar(p.idOferta, p.idCandidato)">Aceptar candidato</button>
            <button (click)="rechazar(p.idOferta, p.idCandidato)">Rechazar candidato</button>
        </div>
    </a>
</td>