<td>
    <input [(ngModel)]="searchText" placeholder="Busqueda por puesto">
    <a *ngFor="let p of datos | filter: searchText" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="jumbotron">
            <h5>{{ p.nombre }}</h5>
            <li>Puesto Actual: {{ p.puestoActual }}</li>
            <li>Skills: {{ p.skills }}</li>
            <li>Experiencia: {{ p.experiencia }}</li>
            <li>Descripcion: {{ p.descripcion }}</li>
            <button (click)="elegirCandidato(p.idUser, p.nombre)">Referir candidato</button>
        </div>
    </a>
</td>